*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;

}

.main{
    height: 100%;
    width: 100%;
}

.nav {
    background: #8A2387;
  background: linear-gradient(
    to right,
    #8A2387,#E94057,#F27121
  );
    position: fixed;
    top: 0;
    z-index: 100;
    height: 9vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    background-color: #333; 
    color: white; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.nav .logo{
    color: white;
    font-size: x-large;
    padding-left:10px;
    text-decoration: none;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;

}


.menu ul{
    padding-right:10px;
    height:100%;
    font-size:4vh;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap:5vw;
}
.menu ul i{
    color: #fff;
}
.menu ul li a{
    text-decoration: none;
}
.main_container{
    background-color:#FDF8F7;


}
.left_container{
    height: 0;
    width: 0;
    display: none;
    background-color: #f8f8f8;
}

.posts_container{
    padding-top:13vh;
    padding-bottom: 13vh;
    top: 9vh; 
    left: 0;
    width: 100%;
    height: calc(100% - 9vh);
    overflow-y: auto; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 3vh;
}

.post {
    width: 45vh;
    height: 70vh;
    margin: auto;
    /* From https://css.glass */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.user_container{
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 4px 10px;
    z-index: 5;
}
.user_post_details{
    display: flex;
    align-items: center;
    gap: 8px;
}
.profile_picture_container{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid aqua;
    object-fit: cover;
}
.profile_picture_container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.user_name_container h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-size: larger;
    font-weight: 600;
}
.user_name_container p{
    height: 100%;
    font-size: small;
}
.post_menu_container{
    height: 100%;
}
.post_menu_container i{
    height: 100%;
    display: flex;
    align-items: center;
}
.ri-more-2-fill{
    font-size: larger;
}
.post_photo{
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.post_photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post_photo img:hover{
    opacity: 0.7;
}

.post_footer_container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    height: 10%;
}
.post_footer_left_elements{
    display: flex;
    gap: 100px;
}
.post_footer_container i{
    color: black;
    font-size: xx-large;
    
}
.ri-thumb-up-line{
    color: #50D8D7;
}



.footer {
    height:7vh;
    position: fixed;
    bottom: 2vh; 
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background: #8A2387;
    background: linear-gradient(
      to right,
      #8A2387,#E94057,#F27121
    );
    padding: 10px 0; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4); 
    border-radius: 50px; 
    z-index: 1000; 
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.icon {
    width: 40px; 
    height: 40px; 
    font-size:6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
}
.icon img {
    width: 90%; 
    height: 90%; 
    border-radius: 50%; 
    object-fit: cover; 
}
.footer .icon:nth-child(1){
    font-size:5vh;
}
.footer .icon:nth-child(2){
    height:9vh;
    width:9vh;
    background: #8A2387;
    background: linear-gradient(
      to left,
      #8A2387,#E94057,#F27121
    ); 
    border-radius:50%;
    font-size:8vh;
}

/* like icon css */

.like-icon {
    color: black;
    font-size: xx-large;
    cursor: pointer;
}

.like-icon.liked {
    color: skyblue;
}
.right_container{
    display: none;
}



@media (min-width: 768px) {
    body{
        overflow: hidden;
    }
    .footer{
        max-height: 0px;
        display: none;
    }
    .main{
        height: calc(100% - 9vh);
    }
    .main_container{
        display: flex;
        height: 100%;
        margin-top: 9vh;
    }
    .left_container {

        top: 9vh;
        left: 0;
        width: 40%;
        height: calc(100%);
        display: flex;
        flex-direction: column;
        background:url('https://img.freepik.com/free-vector/gradient-liquid-abstract-background_23-2148922413.jpg?size=626&ext=jpg&ga=GA1.1.1084561895.1718990333&semt=ais_user') no-repeat center center/cover;
        padding: 20px;
        gap:5vh;
    }

    .left_container .leftmain{
        height:80%;
        width:100%;

        margin-top: 5vh;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) inset;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

    .main_container .profileimg{
        padding-top:20%;
        padding-bottom:2vh;
        color:black;
        font-size:12px;
        height:25%;
        width: 100%;
        display: flex;
        flex-direction:column;
        align-items: center;
        gap:2vh;
        justify-content: center;
        /* From https://css.glass */
        
    }
    
    .main_container .profileimg img{

        height: 10vh;
        width: 10vh;
        border-radius: 50%; 

        object-fit: cover;
    }
    .main_container .profileimg h2{
        font-weight:200;
        font-size:4vh;
    }


    .profilethings{
        color:black;
        height: auto;
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items: evenly;
        padding: 10px;
        padding-top:13%;
        line-height: 4vh;
        
    }

    .profilethings h3{
        font-weight:100;
    }

    /*  post starts */
    .posts_container {
        width: 60%;
        height: 100%;
        padding-top: 4vh;
        padding-bottom: 3vh;
        left: 40%;
        top: 0;
    }

    .profile_picture_container{
        height: 6vh;
        width: 6vh;
        border-radius: 50%;
    }
    .user_name_container h2{
        font-size: 3vh;
    }
    .post_footer_container i{
        font-size: 4vh;
        margin-right: 1vh;
    }

    .post{
        height: 80vh;
    }
    
}

@media (min-width: 1024px){
    .main_container{
        margin: 9vh 80px;
        overflow: hidden;
    }
    .left_container{
        width: 25%;
        position: none;
    }
    .posts_container{
        width: 50%;
        position: none;
    }
    .post{
        width: 70%;
    }
    .right_container{
        width: 25%;
        height: 100%;
        background-color: #FDF8F7;
        position: none;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .message_search_bar{
        width: 100%;
        height: 30px;
        border-radius: 6px;
        border: 1px solid grey;
    }
    .message_container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .messenger_container{
        width: 100%;
        display: flex;
        height: 50px;
        align-items: center;
        gap: 5px;
    }
    .message{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .messenger_image{
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .messenger_image img{
        height: 100%;
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
    .messenger_name{
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
    }
    .highlighted_message{
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        display: flex;
        align-items: center;
        gap: 2px;
    }
    .dot{
        background-color: black;
        height: 4px;
        width: 4px;
        border-radius: 50%;
    }
    .unseen_message_time{
        display: flex;
        align-items: last baseline;
    }
    .message_time{
        font-family: "Open Sans", sans-serif;
        font-size: 10px;
        font-weight: 500;
    }
}
