*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;

}

.main{
    height: 100%;
    width: 100%;
}

.nav {
    background-image: linear-gradient(to right, #923993, #50D8D7);
    position: fixed;
    top: 0;
    z-index: 100;
    height: 9vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    background-color: #333; 
    color: white; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.nav .logo{
    color: white;
    font-size: x-large;
    padding-left:10px;
    text-decoration: none;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;

}


.menu ul{
    padding-right:10px;
    height:100%;
    font-size:5vh;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap:5vw;
}

.menu ul li a{
    text-decoration: none;
}


.posts_container{
    position: fixed;
    padding-top:3vh;
    padding-bottom: 13vh;
    top: 9vh; 
    left: 0;
    width: 100%;
    height: calc(100% - 9vh);
    overflow-y: auto; 
    background-color: rgb(238,248,245);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 3vh;
}

.post {
    width: 45vh;
    height: 70vh;
    margin: auto;
    border: 1px solid black; 
    background-color: #fff;
    border-radius: 1vh;
    overflow: hidden;
}
.user_container{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 4px 10px;
    background-color: rgba(255, 255, 255, 0.235);
    backdrop-filter: blur(200px);
    border-radius: 4px;
}
.user_post_details{
    display: flex;
    align-items: center;
    gap: 8px;
}
.profile_picture_container{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid aqua;
    object-fit: cover;
}
.profile_picture_container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.user_name_container h2{
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user_name_container p{
    height: 100%;
}
.user_name_container h2{
    font-family: "Open Sans", sans-serif;
    font-size: large;
    font-weight: 600;
}
.user_name_container p{
    font-size: small;
}
.post_menu_container{
    height: 100%;
}
.post_menu_container i{
    height: 100%;
    display: flex;
    align-items: center;
}
.ri-more-2-fill{
    font-size: larger;
}
.post_photo{
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.post_photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.post_footer_container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    padding: 4px 10px;
    
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(200px);
}
.post_footer_left_elements{
    display: flex;
    justify-content: baseline;
}
.post_footer_right_elements{
    justify-content: baseline;
}
.post_footer_container i{
    color: black;
    font-size: xx-large;
    
}
.ri-thumb-up-line{
    color: #50D8D7;
}



.footer {
    height:7vh;
    position: fixed;
    bottom: 2vh; 
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background-image: linear-gradient(to right, #4CAF50, #2196F3); 
    color: white; 
    padding: 10px 0; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4); 
    border-radius: 50px; 
    z-index: 1000; 
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.icon {
    width: 40px; 
    height: 40px; 
    font-size:6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
}
.icon img {
    width: 90%; 
    height: 90%; 
    border-radius: 50%; 
    object-fit: cover; 
}
.footer .icon:nth-child(1){
    font-size:5vh;
}

.footer .icon:nth-child(2){
    height:9vh;
    width:9vh;
    background-image: linear-gradient(to right,#2196F3, #4CAF50); 
    border-radius:50%;
    font-size:8vh;
}


.left_container{
    margin-top: 10vh;
}
